@import '../base/variables';

.button {
  justify-content: center;
  display: flex;
  color: $light;
  background-color: $green;
  transition: background-color 0.75s;
  width: 90%;
  &:focus {
    outline-width: 0;
  }
  &.subtract {
    background-color: $red;
    &:hover {
      background-color: $inherited-button-hover;
    }
  }
  & svg {
    align-self: center;
    font-size: 25px;
  }

  & p {
    text-align: center;
    display: block;
    height: auto;
    flex: 0;
  }

  &-link {
    max-height: 50px;
    max-width: 250px;
  }
}

.remove-character-icon {
  position: absolute;
  top: 2.5%;
  right: 2.5%;
  flex: 0;
  height: 50px;
  width: 50px;
  cursor: pointer;
  & svg {
    align-self: center;
    font-size: 30px;
    transition: color 0.75s;
  }
  &:hover svg {
    color: $red;
  }
}
