// Border Radius
$card-standard: 4px;

//Colors
$oxford-blue: #384558;
$blue-bayoux: #4f5e74;
$comet: #5a6982;
$green: #4caf50;
$red: #f95359;
$light: #eeeeee;
$inherited-button-hover: #bebebe;

//Media Breaks
$break-pad: 900px;
$break-mobile: 500px;
